.sort-bar
	display flex
	
	flex 0 0 auto
	
	padding 0 12px
	
	background-color #f7f7f7

	border-bottom 1px solid #d7d7d7

.sort-option
	display flex
	
	align-items center
	flex-direction column
	
	flex 0 0 auto
	
	margin 0 0 -1px
	padding 10px 12px 2px
	
	font-size 18px

	color rgba(31, 31, 31, 0.5)
	
	text-align center
	
	border-width 1px 0
	border-style solid
	border-color transparent transparent rgba(36, 194, 203, 0)
	
	transition border-color 0.25s, color 0.25s
	
	cursor pointer
	
	&:hover
		color rgba(31, 31, 31, 1)
	
	&.active
		font-weight 700
		
		color rgba(31, 31, 31, 1)

		border-color transparent transparent rgba(36, 194, 203, 1)

	.material-icons
		padding-top 4px
		
		line-height 12px
		
		transform-origin center 10px
		
		transition transform 0.25s
		
		&.desc
			transform rotateX(180deg)