.filter-option
	box-sizing border-box

	display flex
	
	align-items center
	
	flex 0 0 auto
	
	padding 0 16px
	
	height 48px

	border-bottom 1px solid #d7d7d7
	
	cursor pointer

	-webkit-tap-highlight-color transparent

	&:last-child
		border-bottom none
	
	&:hover
		.filter-content
			opacity 1

	.filter-group ~ &
		padding 0 16px 0 32px

.filter-content
	font-size 18px
	
	opacity 0.5625
	
	transition opacity 0.25s
	
	.selected &
		font-weight 500
		
		opacity 1