.weather-list-wrapper
	display flex
	
	flex-direction column
	
	flex 1 1 auto

.weather-list
	display flex
	
	flex-direction column
	
	flex 1 1 auto
	
	padding 16px
	
	overflow-x hidden
	overflow-y auto